<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>indexPageController</servlet-name>
        <servlet-class>pageController.indexPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mainPageController</servlet-name>
        <servlet-class>pageController.mainPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dashboardPageController</servlet-name>
        <servlet-class>pageController.dashboardPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tasksPageController</servlet-name>
        <servlet-class>pageController.tasksPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>taskdetailPageController</servlet-name>
        <servlet-class>pageController.taskdetailPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editprofilePageController</servlet-name>
        <servlet-class>pageController.editprofilePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutPageController</servlet-name>
        <servlet-class>pageController.logoutPageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>indexPageController</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mainPageController</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dashboardPageController</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tasksPageController</servlet-name>
        <url-pattern>/tasks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>taskdetailPageController</servlet-name>
        <url-pattern>/taskdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editprofilePageController</servlet-name>
        <url-pattern>/editprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutPageController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
