.assigned-tasks{
    border: 1px solid #F5F5F5;
    font-size: 14px;
    margin-bottom: 30px;
} 

.assigned-tasks div{
    padding-left: 10px;
    line-height: 35px;
    vertical-align: middle;
}

.assigned-tasks .task-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow : ellipsis;
}

.assigned-tasks .tasks{
    background-color: white;
}

.assigned-tasks .title-bar{
    background-color: #F6F6F6;
    padding-left: 15px;
    font-weight: 600;
    font-style: italic;
}

.assigned-tasks .task-list-detail a:hover{
    cursor: pointer;
}