.div-center{
    display: block;
    margin: 0 auto;
}

.vertical-top{vertical-align: top;}

.txt-center{text-align: center;}

.IB{display: inline-block;}

.P0{padding: 0px;}
.PL0{padding-left: 0px;}
.PR0{padding-right: 0px;}

.MT5{margin-top: 5px;}
.MT10{margin-top: 10px;}
.MT15{margin-top: 15px;}
.MT20{margin-top: 20px;}
.MT25{margin-top: 25px;}
.MT30{margin-top: 30px;}
.MB5{margin-bottom: 5px;}
.MB10{margin-bottom: 10px;}
.MB15{margin-bottom: 15px;}
.MB20{margin-bottom: 20px;}
.MB25{margin-bottom: 25px;}

.fill{min-height: 100%;}

.W30{width: 30%;}
.W40{width: 40%;}
.W50{width: 49.5%;}
.W60{width: 60%;}

.FS18{font-size: 18px;}

.italic-heading{
    color: #666666;
    font-style: italic;
}
