 .staff-photo{
    width: 120px;
    margin: 0 auto;
}

.staff-photo img{
    width: 120px;
    height: 120px;
    border: 4px #F5F5F5 solid;
}

.staff-photo img:hover{
    cursor: pointer;
}

.staff-data div{
    margin-bottom: 10px;
}

.staff-role{
    color: #666666;
    font-size: 16px;
}